#articles-container {
  background-color: rgba(0, 0, 255, 0.25);
  grid-area: main;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

h1 {
  margin: 0;
}

.article {
  background-color: rgba(0, 0, 255, 0.25);
  border-radius: 40px;
  width: 75%;
  margin: 10px auto;
  display: grid;
  grid-template:
    [header-left] 'title title title' 50px [header-right]
    [main-left] 'votes  body user' 1fr [main-right]
    [footer-left] 'foot  foot foot' 30px [footer-right]
    / 120px 1fr;
}

.article-title {
  grid-area: title;
  margin: 5px auto;
  font-size: 25px;
}
.article-body {
  grid-area: body;
  width: 90%;
  margin: 0 auto;
}

.article-foot {
  grid-area: foot;
  margin: 0 auto;
  border-radius: 50px;
  width: 30%;
  height: 75%;
  background-color: rgba(0, 0, 255, 0.25);
}

.article-votes {
  grid-area: votes;
  background-color: rgba(0, 0, 255, 0.25);
  margin: 0 auto;
  height: 100px;
  width: 100px;
  border-radius: 100px;
}

.article-votes h2 {
  margin: 0 auto;
  padding-top: 30%;
}

.article-user {
  grid-area: user;
  padding: 20px;
  margin: 0 auto;
  font-size: 13px;
}
.avatar {
  height: 60px;
  width: 60px;
  border-radius: 100px;
}

.links {
  text-decoration: none;
  color: black;
}
