main {
  background-color: rgba(0, 0, 255, 0.25);
  grid-area: main;
  height: 100%;
  padding: 10px;
}

#articlebox {
  background-color: rgba(128, 128, 128, 0.25);
  border-radius: 40px;
  width: 75%;
}
