.login-bar {
  background-color: rgba(0, 255, 0, 0.1);
  height: 100%;
  padding: 0;
  grid-area: login;
}

/* .login-bar img {
  height: 40px;
  border: none;
} */

.login-bar button {
  display: inline-block;
}
