nav {
  background-color: rgba(0, 0, 255, 0.25);
  border: rgb(0, 0, 255) 1px solid;
  grid-area: nav;
}

img {
  height: 150px;
  border: 1px solid black;
  border-radius: 100px;
  margin-left: 40px;
  margin-top: 5px;
}
