.profile-box {
  border: rgba(255, 0, 0, 0.25) 3px dotted;
  border-radius: 40px;
  width: 60%;
  margin: 10px auto;
}

.avatar-holder {
  border: rgba(255, 0, 0, 0.25) 5px dotted;
  border-radius: 40px;
  width: fit-content;
  margin: 10px auto;
  padding: 10px;
}

.avatar-holder img {
  border: rgba(255, 0, 0, 0.25) 5px dotted;
  border-radius: 100px;
  width: 100px;
  height: 100px;
}

.profile-box h3,
h2,
h5,
h6 {
  margin: 0;
}
