.vote img {
  height: 45px;
  width: 45px;
  margin: 0 auto;
  background: none;
  border: none;
}

.votebox button {
  background: none;
  border: none;
}

.votebox {
  font-size: 30px;
  margin: 0 auto;
}
