h1 {
  margin: 0;
}

.article {
  /* background-color: rgba(41, 41, 41, 0.548); */
  border: 1px solid black;
  border-radius: 40px;
  width: 75%;
  margin: 1em auto;
  display: grid;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5px;
}

.article-title {
  font-size: 20px;
}
.article-body {
  width: 90%;
  margin: 0 auto;
}

.article-votes {
  /* padding-top: 1em; */
  margin: 0 auto;
}

.links {
  text-decoration: none;
  color: white;
}

.links h3 {
  margin: 5px auto;
  padding: 5px;
}
