#articlebox {
  /* background-color: rgba(41, 41, 41, 0.548); */
  border: 1px solid black;
  height: fit-content;
  border-radius: 40px;
  width: 75%;
  margin: 10px auto;
  display: flex;
  flex-flow: column;
  padding: 5px;
}
