.comment {
  border: 1px solid black;
  border-radius: 40px;
  width: 60%;
  margin: 10px auto;
  display: flex;
  flex-flow: column;
  padding: 20px;
}

.comment-body {
  margin: 10 auto;
}

.comment-votes {
  margin: 0 auto;
}

.comment-delete {
  margin: 0 auto;
}

textarea {
  width: 500px;
  height: 100px;
  padding: 0px 0px 20px 0px;
  box-sizing: border-box;
}
