header {
  position: fixed;
  top: 0;
  font-size: 20px;
  height: 50px;
  background-color: rgba(41, 41, 41, 0.7);
  width: 100%;
}

@media only screen and (max-width: 600px) {
  header {
    position: static;
    font-size: 10px;
  }
}
