.user-bar {
  z-index: 2;
  position: fixed;
  right: 10px;
  top: 15px;
  border-radius: 40px;
  width: 100px;
}

.user-bar p {
  color: white;
  font-weight: bold;
  margin: 0 auto;
}

.login-avatar {
  margin: 0 auto;
  border-radius: 50px;
  height: 50px;
}

.login-bar {
  z-index: 1;
  /* background-color: rgba(41, 41, 41, 0.548); */
  border-radius: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 150px;
  width: 200px;
}

@media only screen and (max-width: 600px) {
  .user-bar {
    /* background-color: rgba(41, 41, 41, 0.7); */
    position: static;
    width: 100%;
    border-radius: 0;
  }

  .login-avatar {
    height: 20px;
  }
}
