nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
}

img {
  height: 1.5em;
  margin-left: 40px;
  margin-right: 40px;
}

figure {
  margin: 0 auto;
  align-content: center;
}

figcaption {
  text-decoration: none;
  color: black;
  padding-bottom: 5px;
  text-emphasis: none;
}

nav button {
  background: none;
  border: none;
}
