nav {
  position: fixed;
  top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: rgba(41, 41, 41, 0.7); */
  border-bottom: 1px solid black;
  z-index: 1;
}

img {
  height: 2em;
  margin-left: 40px;
  margin-right: 40px;
}

nav img:hover {
  transform: scale(1.5, 1.5);
}

figure {
  margin: 0 auto;
  align-content: center;
}

figcaption {
  text-decoration: none;
  color: white;
  padding-bottom: 5px;
  text-emphasis: none;
}

nav button {
  background: none;
  border: none;
}

@media only screen and (max-width: 600px) {
  nav {
    position: static;
  }
}
