@media only screen and (max-width: 600px) {
  #post-article-area {
    width: 90%;
  }
}

#post-article-area {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 50%;
  width: 50%;
}
