.users-box {
  background-color: rgba(41, 41, 41, 0.548);
  border-radius: 40px;
  margin: 10px auto;
  padding: 1em;
  width: 200px;
}

.users-box img {
  border-radius: 500px;
  margin: 0 auto;
  height: 150px;
}

.users-container {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: 0 auto;
}
