.users-box {
  background-color: rgba(41, 41, 41, 0.548);
  border-radius: 40px;
  margin: 0.5em auto;
  padding: 1em;
}

.users-box img {
  height: 20vh;
  border-radius: 500px;
}

.users-container {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
}
