.users-box img {
  border-radius: 500px;
  height: 40px;
}
.users-box {
  border-radius: 40px;
  margin: 0 auto;
}

.users-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}
