.votebox h2 {
  display: inline;
}

.votebox img {
  height: 3em;
  margin: 0 auto;
}

.votebox button {
  border: none;
  background: none;
  width: 60px;
}

.votebox button:hover {
  transform: scale(1.1, 1.1);
  transition: 0.5s;
}
