.votebox img {
  height: 3em;
  margin: 0 auto;
}

.votebox h2 {
  display: inline;
  padding: 5px;
  /* font-size: 2em; */
}

.votebox button {
  border: none;
  background: none;
  width: 60px;
}

.votebox {
  margin: 10px auto;
}
