.votebox img {
  height: 3em;
  margin: 0 auto;
}

.votebox h2 {
  display: inline;
  padding: 5px;
}

.votebox button {
  border: none;
  background: none;
  width: 60px;
}

.votebox {
  margin: 10px auto;
}

.votebox button:hover {
  transform: scale(1.5, 1.5);
  transition: 2s;
}
