.App {
  text-align: center;
}

main {
  position: fixed;
  top: 110px;
  bottom: 35px;
  overflow-y: scroll;
  width: 100%;
}

body {
  background-image: url('./images/darkbackground.jpg');
  background-size: 100%;
  color: white;
}

@media only screen and (max-width: 600px) {
  main {
    position: static;
  }
}
