.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-flow: column;
}

body {
  background-image: url('./images/background.jpg');
  background-size: 100%;
  color: white;
}

h3,
h2,
h5,
h6 {
  background-color: rgba(41, 41, 41, 0.548);
}
