.App {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template:
    'header header header' 100px
    'nav nav nav' 100px
    'login login login' 50px
    'main  main main' 4fr
    'footer  footer footer' 30px / 1fr;
}
